<p class="notice"></p>

<div class="container px-5 px-sm-0">


<%= render 'books/list', user: @user, book: @book %>


<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  	<table class="table">
  		<tbody>
  		  <%# @books.each do |books| %>
  	    <tr>
          <td class="text-center">          
    	      <%#= link_to (attachment_image_tag @user, :profile_image_id, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60'), (@user.name), user_path(@user.id) %>
    	      <%= link_to user_path(@bookes.user) do %>
    	      <%= attachment_image_tag @bookes.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %><br/>
    	      <%= @bookes.user.name %>
    	      <% end %>
    	      <%#= attachment_image_tag @user, :profile_image_id, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
    	      <%#= link_to @user.name, user_path(@user.id) %>
    	    </td>
          <td>
            <%= link_to @bookes.title, book_path(@bookes) %>
          </td>
          <td>
            <%= @bookes.body %>
          </td>
          <td>
            <!--<a class="btn btn-sm btn-success edit_book_35026" href="/books/35026/edit">Edit</a>-->
            <% if @user == current_user %>
            <%= link_to "Edit", edit_book_path(@bookes), class:"btn btn-sm btn-success" %>
          </td>
          <td>
            <%# if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@bookes), method: :delete, class:"btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
        <%# end %>
      </tbody>
    </table>
</div>
</div>    
  